@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    align-items: center;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
}

main.container {
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(161, 136, 136, 0.2);
    max-width: 350px;
    min-height: 60vh;
    padding: 2rem;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

/* Para criar e estilizar a linha abaixo do h2 */
main h2::before {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    border-radius: 8px;
    bottom: 3px;
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

.input-field input {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    outline: none;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    background: linear-gradient( to left, #8e2de2, #4a00e0);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 2rem;
    padding: 0.4rem;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: linear-gradient( to right, #8e2de2, #4a00e0);
    letter-spacing: 0.5px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.85rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0.4rem;
}

.footer .social-field a i {
    margin: 0 0 0.5rem;
    width: 15px; /* Delimitamos uma largura para os ícones, para alinhar os textos desse campo*/ 
}

.footer .social-field a {
    color: white;
    text-decoration: none;
}

.footer .social-field.twitter {
    background: linear-gradient( to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient( to right, #1e3c72, #2a5298);
}